
body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
}
.st{
    color: rgb(8, 0, 255);
    box-shadow: 0 30 10px rgba(229, 23, 23, 0.2);
    display:block;
    text-align: center;
    

}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 7px solid #1d1111;
    box-shadow: 0 30 10px rgba(229, 23, 23, 0.2);
}
